.rasp_ord {
    width: 90vw;
    border-radius: 2.35vw;
    background-color: white;
    font-size: 10px;
    box-shadow: 0 0 13px gray;
    position: relative;
}

.ff_ord {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding-bottom: 3vw;
}

.perech_prods {
    font-size: 3.8vw;
    color: black;
}

.price_perech {
    font-size: 3.8vw;
    color: black;
}


.container_ord {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 1vw 0;
    background: rgba(255,0,0,0.2);
}

.container_ord_tot_sum {
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    flex-direction: row;
    margin: 1vw 0;
}