{% extends "base.html" %}

{% block content %}
<table class="table__">
       {% for item in products %}
            <tr>
                <th>
                    <div class="block">
                        <div class="rasp" data-popup-id="popup{{ loop.index }}">
                            <img class="img_t" src="static/img/{{ item.image }}">
                            <div class="ff">
                                <div class="name_prod roboto-black">
                                    {{ item.name }}
                                </div>
                                <div class="price roboto-black">
                                    {{ item.cost }} ₽
                                </div>
                                <div class="podrobn roboto-black">
                                    Подробнее →
                                </div>
                            </div>
                            <div class="b-popup hidden" id="popup{{ loop.index }}">
                                <div class="b-popup-content">
                                    <img class="img_t" src="static/img/{{ item.image }}">
                                    <div class="ff-popup">
                                        <div class="name_prod roboto-black">
                                            {{ item.name }}
                                        </div>
                                        <div id="descr" class="descrip roboto-black">
                                            {{ item.description.capitalize() }}
                                        </div>
                                        <div class="nijn_podt">
                                            <div class="price roboto-black">
                                                {{ item.cost }} ₽
                                            </div>
                                            <div class="text_marg roboto-black">
                                                <button class="but_cart roboto-bold" onclick="addToCart('{{ item.id }}')">В КОРЗИНУ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        {% endfor %}
</table>
<script src="https://telegram.org/js/telegram-web-app.js"></script>

<script src="../static/js/index.js"></script>
{% endblock %}