<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <link rel="stylesheet" href="../static/css/orders_admin.css">
</head>
<body>
    <h1>Админ панель</h1>

    {% if applications %}
        <h2>Заказы:</h2>
        <ul>
            {% for application in applications %}
                <li>{{ application }}</li> <!-- Здесь вы можете указать, какие поля отображать -->
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных заявок.</p>
    {% endif %}

</body>
</html>